@charset "utf-8";

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 6px;
}

table {
	margin: 50px;
}

th {
	background-color: rgb(188, 188, 255);
}

tr:nth-of-type(odd) {
	background-color: rgb(230, 230, 245);
}