@charset "utf-8";

h2 {
	margin-left: 40px;
}

table, th, td {
	padding: 6px;
}

table {
	margin: 10px 40px 40px;
}

th {
	background-color: rgb(188, 188, 255);
}

tr {
	background-color: rgb(230, 230, 245);
}