@charset "utf-8";

form {
	margin: 0px auto;
	width: 50%;
	padding: 20px;
	background-color: rgb(230, 230, 245);
	border: darkgray solid 2px;
	border-radius: 10px;
}

form table {
	border: 0px;
	border-spacing: 30px 10px;
	margin: 0px auto;
}

form tr td:first-of-type {
	text-align: right;
}

form tfoot td {
	padding-top: 30px;
}