@charset "utf-8";

body {
	margin: 0px;
}

header {
	background-color: aliceblue;
	margin: 0px auto 20px;
	padding: 5px;
	text-align: center;
}

header h1 {
	color: darkslategray;
	font-size: 3em;
}

body > p, body > h1 {
	padding: 5px 40px;
}

body > p:first-of-type {
	padding: 40px;
}

footer {
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	background-color: aliceblue;
}